body {
  font-family: Arial;
  background: #fff7f0;
  margin: 0;
}

header {
  background: #ff5722;
  color: white;
  padding: 15px;
  text-align: center;
}

.cart-btn {
  background: white;
  color: #ff5722;
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 15px;
  padding: 15px;
}

.item {
  background: white;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
}

.item img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: #ff5722;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

input, select {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}
